<section class="slide">
	<article class="about-all grid">
		<div class="about-bucket side__banner 4/10 grid__cell">
			<%= image_tag("logo-big.png", class: "side__banner-logo") %>
			<h1 class="side__banner">about us</h1>
		</div>
		<div class="about-bucket 5/10 grid__cell">
			<p class="about-bucket-body">
				Lorem ipsum dolor sit amet, usu ex wisi error accusam, pericula reprehendunt has in, sed fugit augue perfecto ex. Ei persius diceret facilisis pro. Cum et nibh debitis. Eam modus recteque constituto ut, nec et tritani commune sadipscing. Mutat cetero gubergren et nec, ut scripta facilisis eam, simul soluta putant pro ea.
			</p>
			<p class="about-bucket-body">
				Te propriae democritum scribentur mel. Democritum adipiscing consequuntur mel ex, vis te graeci nostrud volumus. Id mollis aliquam cum, mea decore tincidunt ut. Timeam consequuntur et pri, ut usu discere delenit dignissim, deserunt qualisque an sed. An quo errem legendos, no per pericula evertitur, mea et nihil iudicabit. Ut sea labore everti signiferumque.
			</p>
			<p class="about-bucket-body">
				Quo te conceptam moderatius intellegam. Nam et illum nostro, amet semper conceptam ut vel, an duo tritani omnesque officiis. Labitur equidem tibique te eum. Sit quot eirmod volumus eu, scripta ancillae eleifend ea pri, meis autem mazim ex vis. Usu id brute paulo ocurreret.
			</p>
			<p class="about-bucket-body" style="color:red">
				KAT: Issues here are because of font-weight issues--Google Fonts only has this heavy font. Need to find a font with a lighter weight to be true to your design. This is a site-wide issue. Will note it in Github. Luv, Victoria
			</p>
		</div>
	</article>
</section>