<section class="slide">
	<header class="about-banner group">
		<%= image_tag("logo-big.png", class: "about-banner-logo")%>
		<div class="about-banner-text">
			<h1>
				the WRITENOCEROS story
			</h1>
			<p>
				...or how we became a thing
			</p>
		</div>
	</header>
	<article class="about-all grid--center">
		<div class="about-bucket 4/10 grid__cell">
			<img src="http://placekitten.com/500/400" class="about-bucket-picture"></img>
			<div class="about-bucket-subtitle">
				<h2 class="about-bucket-subtitle-hed">
					the WRITENOCEROS team
				</h2>
				<h3 class="about-bucket-subtitle-subhed">
					Kat, Victorio, Jacob
				</h3>
			</div>
		</div>
		<div class="about-bucket 5/10 grid__cell">
			<p class="about-bucket-body">
				Lorem ipsum dolor sit amet, usu ex wisi error accusam, pericula reprehendunt has in, sed fugit augue perfecto ex. Ei persius diceret facilisis pro. Cum et nibh debitis. Eam modus recteque constituto ut, nec et tritani commune sadipscing. Mutat cetero gubergren et nec, ut scripta facilisis eam, simul soluta putant pro ea.
			</p>
			<p class="about-bucket-body">
				Te propriae democritum scribentur mel. Democritum adipiscing consequuntur mel ex, vis te graeci nostrud volumus. Id mollis aliquam cum, mea decore tincidunt ut. Timeam consequuntur et pri, ut usu discere delenit dignissim, deserunt qualisque an sed. An quo errem legendos, no per pericula evertitur, mea et nihil iudicabit. Ut sea labore everti signiferumque.
			</p>
			<p class="about-bucket-body">
				Quo te conceptam moderatius intellegam. Nam et illum nostro, amet semper conceptam ut vel, an duo tritani omnesque officiis. Labitur equidem tibique te eum. Sit quot eirmod volumus eu, scripta ancillae eleifend ea pri, meis autem mazim ex vis. Usu id brute paulo ocurreret.
			</p>
		</div>
	</article>
</section>