<section class="slide">
	<header class="about-banner group">
		<%= image_tag("logo-big.png", class: "about-banner-logo")%>
		<div class="about-banner-text">
			<h1>
				the WRITENOCEROS story
			</h1>
			<p>
				...or how we became a thing
			</p>
		</div>
	</header>
	<article class="about-all">
		<div class="test">
			
		</div>
		<div class="test">
			
		</div>
	</article>
</section>