$header-main: #343633;

* { 
margin: 0;
padding: 0;
background-color: #E2E2E2;
color: #343633;
}

a {
	color: inherit;
	text-decoration: none;
}

.site__header {
	display: block;
}

.site__header-nav {	
	display: inline-block;
	text-align: center;
	width: 14.285vw;
	margin-right: -4px;
	padding-top: 5vh;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.site__header-nav-active {
	color: #BC6842;
}

.slide { 
	padding-top: 25px;
	height: calc(100vh - (18px + 5vh + 25px))
}

.home-logo {
	display: block;
	margin: 0 auto;
	height: 400px;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 36px;
	color: $header-main;

}

h2 {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: $header-main;
}

h2.home__services:hover {
	color: #C9623A;
}

.about-banner {
	display: block;
	margin-bottom: 15px;
}

.about-banner-text {
	display: inline-block;
	float: right;
}
.about-banner * {
	text-align: right;
}
.about-banner p {
	font-family: 'Gloria Hallelujah', cursive;
	color: $header-main;
}

.about-banner-logo {
	height: 14vh;
	width: auto;
	display: inline;
	float:right;
}

.about-all {
	padding: 0px 20px;
	display: block;
	height: 100%;

}

.about-all * {
	padding: 0;
}

.about-all-photo {
	width: 100%;
	height: auto;
}

.about-bucket {
	height: 100%;
	padding-top: 10px;
}

.side__banner {
	background-color: #C9623A;
}

.side__banner-logo {
	height: 300px;
	display: block;
	margin: 0 auto;
}

h1.side__banner {
	color: #343633;
	font-family: 'Gloria Hallelujah', cursive;
	background-color: inherit;
}

.about-bucket-picture {
	display: block;
	margin: 0 auto;
}

.about-bucket-sub-container {
	width: 100%;
}

.about-bucket-subtitle {
	display: block;
	height: 75px;
	margin-top: 10px;
}

.about-bucket-subtitle-hed {
	font-family: 'Gloria Hallelujah', cursive;

}

.about-bucket-subtitle-subhed {
	font-family: 'Slabo 27px', serif;
	text-align: center;
	
}

.about-bucket-body {
	color: #343633;
	font-size: 20px;
	text-indent: 30px;
	margin-bottom: 5px;
	font-family: 'Libre Baskerville', serif;
	position: relative;
	left: 36px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


