$header-main: #636946;

* { 
margin: 0;
padding: 0;
background-color: #CFCFCF;
color: #343633;
}

.site__header {
	display: block;
}

.site__header-nav {	
	display: inline-block;
	text-align: center;
	width: 14.285vw;
	margin-right: -4px;
	padding-top: 5vh;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.site__header-nav-active {
	color: #BC6842;
}

.slide { 
	padding-top: 25px;
	height: calc(100vh - (18px + 5vh + 25px))
}

.home-logo {
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 36px;
	color: $header-main;

}

h2 {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: $header-main;
}

.about-banner {
	display: block;
	// float:right;
}

.about-banner-text {
	display: inline-block;
	float: right;
}
.about-banner * {
	text-align: right;
}
.about-banner p {
	font-family: 'Gloria Hallelujah', cursive;
	color: $header-main;
}

.about-banner-logo {
	height: 14vh;
	width: auto;
	display: inline;
	float:right;
}

.about-all {
	position: relative;
	top: 15vh;
	// padding: 0px 50px;
	display: block;

}

.about-all img {
	display: inline-block;
}


.about-all-photo {
	width: 100%;
	height: auto;
}

.test {
	background-color: pink;
	display: inline-block;
	height: 400px;
	width: 40%;
	clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


