* { 
margin: 0;
padding: 0;
background-color: #CFCFCF;
color: #343633;
}

.site__header {
	display: block;
}

.site__header-nav {	
	display: inline-block;
	text-align: center;
	width: 14.285vw;
	margin-right: -4px;
	padding-top: 5vh;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.site__header-nav-active {
	color: #BC6842;
}